body{
background:#020617;
color:white;
font-family:Arial;
text-align:center;
}

textarea{
width:340px;
height:200px;
font-size:16px;
}

button{
padding:12px 25px;
font-size:18px;
background:#22c55e;
border:none;
cursor:pointer;
}

h1{
color:#38bdf8;
}

#predictions{
columns:4;
}
